[submodule "backend"]
	path = backend
	url = git@codebase.helmholtz.cloud:m-team/ai/drift-monitoring-backend.git
[submodule "client"]
	path = client
	url = git@codebase.helmholtz.cloud:m-team/ai/drift-monitoring-detector.git
[submodule "frontend"]
	path = frontend
	url = git@codebase.helmholtz.cloud:ai-consultants-dkrz/drift_detection_front_end.git
