[submodule "backend"]
	path = backend
	url = git@github.com:m-team-kit/drift-watch-backend.git
[submodule "client"]
	path = client
	url = git@github.com:m-team-kit/drift-watch-client.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:m-team-kit/drift-watch-gui-react.git
